*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Dd]ist/
msbuild.log
msbuild.err
msbuild.wrn

# NPM Compiled output
node_modules/

# Visual Studio 2015
.vs/

# Log
[Ll]og/
*.log

# Minified files
**/wwwroot/css/*.min.css
**/wwwroot/js/*.min.js